
<% if(error){ %>
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Warning!</h4>
  <%=error %>
</div>  
<% } %>

<% if(success){ %>
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Congretulations!</h4>
  <%=success %>
</div>  
<% } %>

<div class="hero-unit">
    <h1>欢迎来到乐享-乐生活的世界!</h1>
    <p>乐享是一款基于Nodejs编写的博客系统。后台采用Nodejs+Express+MongDB,前台采用BootStrap</p>
    
    <%if(!user) {%>
      <p>
        <a href="/login" class="btn btn-primary btn-large">&laquo; 登入</a>
        <a href="/reg" class="btn btn-primary btn-large">注册 &raquo;</a>
      </p>
    <% }else{%>
      <p>
        <a href="/job" class="btn btn-primary btn-large">&laquo; 发布新职位</a>
      </p>
    <% } %>
</div>


<div class="row">
<% jobs.forEach(function(job,index){%>
  <div class="span4">
            <h2> <%=job.title %></h2>
            <p> 发布于：<%=job.create_at %> </p>
            <p> <%=job.requirements %> </p>    
            <p><a class="btn" href="/job/ <%=job._id %> ">查看详情 &raquo;</a></p>
  </div> 
<% }) %>
</div>
