



<div class="main-body">
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'><i class="icon-user"></i> 全站用户</span>
    </div>
    <div class='inner'>
      <% for(var i =0;i< users.length;i++){
        var user = users[i];
      %>
      <div class='user card'>
           <a href='/u/<%= user._id %>'><img class='user_avatar' src='<%= user.avatar_url %>' /></a>

          <span class='user_name'><a class='dark' href='/u/<%= user._id %>'><%= user.name %></a></span>

          <div class='sep5'></div>

          <span class='col_fade'>
          文章数: <a href='/<%=user._id%>/articles'>22</a>&nbsp;&nbsp;&nbsp;&nbsp;
          粉丝: <a href='/<%=user._id%>/follower'>11</a>&nbsp;&nbsp;&nbsp;&nbsp;
          关注: <a href='/<%=user._id%>/following'>33</a>
          创建于：<%=user.friend_create_at%>
          </span>
      </div>  
      <%}%>
      
    </div>
  </div>
</div>
